<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/97696527-250d-460e-91b9-73c7df9ceb64/v3/index.json" />
    </packageSources>
</configuration>